:root{
    /* ## Colors */
        /* ### Primary */
    --Dark-cyan: hsl(185, 75%, 39%);
    --Very-dark-desaturated-blue: hsl(229, 23%, 23%);
    --Dark-grayish-blue: hsl(227, 10%, 46%);
    
        /* ### Neutral */
    --Dark-gray: hsl(0, 0%, 59%);
}
/* ## Typography */
    /* ### Body Copy */
        /* ### Font */
            /* - Family: [Kumbh Sans](https://fonts.google.com/specimen/Kumbh+Sans)
                - Weights: 400, 700 */


*,*::before,*::after{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: 'Kumbh Sans', sans-serif;
    height: 100vh;
    display: flex;
    flex-direction: column;
    background-color: var(--Dark-cyan);
    justify-content: center;
    align-items: center;

    background-image: url(./images/bg-pattern-top.svg), url(./images/bg-pattern-bottom.svg);
    background-repeat: no-repeat, no-repeat;
    background-position: top -463px left -256px, bottom -534px right -246px;
    transition: all .5s;
}
@media screen and (max-width:600px) {
    body{
        background-position: top -565px left -741px, bottom -538px right -751px;
    }
}
.card{
    background-color: #ffffff;
    display: flex;
    max-width: 100%;
    margin: 24px;
    border-radius: 20px;
    flex-direction: column;
    text-align: center;
}
#hero-img{
    border-radius: 20px 20px 0 0;
    display: block;
    object-fit: cover;
    max-width: 100%;
}
#profile-picture{
    margin-bottom: 1em ;
    width: 120px;
    height: 120px;
    border-radius: 50%;
    border: 4px solid white;

}
.bio{
    max-width: 100%;
    margin-top: -60px;
    margin-bottom: 2em;
}
#name{
    color: var(--Very-dark-desaturated-blue);
    display: inline-block;
    font-weight: 700;
    margin-right: .5em;
}
.bio p:nth-child(2){
    display: inline-block;
}
#location{
    margin-top: .5em;
    font-size: 14px;
}
#age,
#location{
    color: var(--Dark-gray); 
}
.stats{
    text-align: center;
    border-top: 1px solid #e1e1e1;
    width: 100%;
    padding: 0 2em;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding-top:1.5em;
    margin-bottom: 1.5em;
    
}
.label{
    font-size: 12px;
    letter-spacing: 1px;
    color: var(--Dark-gray);
}
.stats .numeric{
    font-weight: 700;
    color:var(--Very-dark-desaturated-blue);
}
#name,
#age,
.numeric{
font-size: 18px;
}
footer,
footer .attribution a{
    color: #202020;
}